{block #content}
    <div class="page-header" n:if="$showHeader">
        <h1 n:block=title>{_subscriptions.frontend.new.title, [site_name => "{$siteTitle}"]}</h1>
    </div>

    {control simpleWidget 'subscriptions.new', $funnel}

{block #footer}
{/block}
