<div>
	<small>
		{_subscriptions.admin.actual_subscription_label.subscription}: {$startTime|userDate} - {$endTime|userDate}
	</small>
	<span n:if="$actual" class="label label-primary">{_subscriptions.admin.actual_subscription_label.actual}</span>
</div>