<span class="badge">{$totalSubscriptions}</span>
{_dashboard.total.subscriptions.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.total.subscriptions.tooltip}"></i>