{_dashboard.subscriptions.new.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.subscriptions.new.tooltip, ['start' => date('d.m.Y H:i:s', strtotime('first day of this month 00:00')), 'end' => date('d.m.Y H:i:s')]}."></i>
{$thisMonthSubscriptions|diff:$lastMonthSubscriptions|noescape}