{_dashboard.subscriptions.new.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.subscriptions.new.tooltip, ['start' => date('d.m.Y H:i:s', strtotime('first day of last month 00:00')), 'end' => date('d.m.Y H:i:s', strtotime('-1 month'))]}."></i>
{$thisMonthSubscriptions|diff:$lastMonthDaySubscriptions|noescape}