services:
	moduleManager:
		setup:
			- addModule(Crm\SubscriptionsModule\SubscriptionsModule())

	subscriptionTypesRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypesRepository
	subscriptionsRepository: Crm\SubscriptionsModule\Repository\SubscriptionsRepository
	subscriptionMetaRepository: Crm\SubscriptionsModule\Repository\SubscriptionMetaRepository
	subscriptionExtensionMethodsRepository: Crm\SubscriptionsModule\Repository\SubscriptionExtensionMethodsRepository
	subscriptionTypeNamesRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypeNamesRepository
	subscriptionLengthMethodsRepository: Crm\SubscriptionsModule\Repository\SubscriptionLengthMethodsRepository
	subscriptionTypeItemsRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypeItemsRepository
	subscriptionTypeContentAccess: Crm\SubscriptionsModule\Repository\SubscriptionTypeContentAccess
	subscriptionTypesMetaRepository: Crm\SubscriptionsModule\Repository\SubscriptionTypesMetaRepository
	contentAccessRepository: Crm\SubscriptionsModule\Repository\ContentAccessRepository

	- Crm\SubscriptionsModule\Builder\SubscriptionTypeBuilder
	- Crm\SubscriptionsModule\Forms\SubscriptionTypesFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionsGeneratorFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypeItemsFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypeMetaFormFactory
	- Crm\SubscriptionsModule\Generator\SubscriptionsGenerator
	- Crm\SubscriptionsModule\Components\SubscriptionButton
	- Crm\SubscriptionsModule\Components\ActualUserSubscriptions
	- Crm\SubscriptionsModule\Components\ActualSubscribersRegistrationSourceStatsWidget
	- Crm\SubscriptionsModule\Components\TotalSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\ActualSubscribersStatWidget
	- Crm\SubscriptionsModule\Components\TodaySubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthToDateSubscriptionsStatWidget
	subscribersWithMissingAddressWidget:
		class: Crm\SubscriptionsModule\Components\SubscribersWithMissingAddressWidget
	- Crm\SubscriptionsModule\Components\EndingSubscriptionsWidget
	- Crm\SubscriptionsModule\Components\RenewedSubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsSmallBarGraphWidget
	- Crm\SubscriptionsModule\Components\ActualSubscriptionLabel
	- Crm\SubscriptionsModule\Components\UserSubscriptionsListing
	- Crm\SubscriptionsModule\Components\SubscriptionEndsStatsFactoryInterface
	- Crm\SubscriptionsModule\Commands\ChangeSubscriptionsStateCommand
	- Crm\SubscriptionsModule\Api\v1\UsersSubscriptionsHandler
	- Crm\SubscriptionsModule\Subscription\ActualUserSubscription
	- Crm\SubscriptionsModule\Events\AddressRemovedHandler
	- Crm\SubscriptionsModule\Events\PreNotificationEventHandler
	- Crm\SubscriptionsModule\Events\SubscriptionUpdatedHandler
	- Crm\SubscriptionsModule\Hermes\GenerateSubscriptionHandler
	- Crm\SubscriptionsModule\Api\v1\CreateSubscriptionHandler
	- Crm\SubscriptionsModule\Api\v1\ListContentAccessHandler
	- Crm\SubscriptionsModule\User\SubscriptionsUserDataProvider
	- Crm\SubscriptionsModule\Segment\ActiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Segment\UserActiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Segment\InactiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Scenarios\TypeCriteria
	- Crm\SubscriptionsModule\Scenarios\SubscriptionTypeCriteria
	- Crm\SubscriptionsModule\Scenarios\ContentAccessCriteria
	- Crm\SubscriptionsModule\Scenarios\IsRecurrentCriteria
	- Crm\SubscriptionsModule\Seeders\ConfigSeeder
	- Crm\SubscriptionsModule\Seeders\ContentAccessSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionExtensionMethodsSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionTypeNamesSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionLengthMethodSeeder
	- Crm\SubscriptionsModule\Access\SubscriptionAccessProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUsersFormDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUsersSelectionDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUserActionLogsSelectionDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUserActionLogsFormDataProvider
	- Crm\SubscriptionsModule\DataProvider\CanDeleteAddressDataProvider

	extensionMethodFactory:
		class: Crm\SubscriptionsModule\Extension\ExtensionMethodFactory
		setup:
			- registerExtension('extend_actual', Crm\SubscriptionsModule\Extension\ExtendActualExtension())
			- registerExtension('extend_same_actual', Crm\SubscriptionsModule\Extension\ExtendSameActualExtension())
			- registerExtension('start_now', Crm\SubscriptionsModule\Extension\StartNowExtension())

	lengthMethodFactory:
		class: Crm\SubscriptionsModule\Length\LengthMethodFactory
		setup:
			- registerExtension('fix_days', Crm\SubscriptionsModule\Length\FixDaysLengthMethod())

	filterLoader:
		setup:
			- register('typeContent', [Crm\SubscriptionsModule\Helpers\TypeContentHelper(), process])
			- register('typeLabel', [Crm\SubscriptionsModule\Helpers\TypeLabel(), process])
