services:
	moduleManager:
		setup:
			- addModule(Crm\SubscriptionsModule\SubscriptionsModule())

	- Crm\SubscriptionsModule\Builder\SubscriptionTypeBuilder
	- Crm\SubscriptionsModule\Repository\SubscriptionTypesRepository
	- Crm\SubscriptionsModule\Repository\SubscriptionsRepository
	- Crm\SubscriptionsModule\Repository\SubscriptionTypesUpgradesRepository
	- Crm\SubscriptionsModule\Repository\SubscriptionExtensionMethodsRepository
	- Crm\SubscriptionsModule\Repository\SubscriptionTypeNamesRepository
	- Crm\SubscriptionsModule\Repository\SubscriptionLengthMethodsRepository
	- Crm\SubscriptionsModule\Repository\SubscriptionTypeItemsRepository
	- Crm\SubscriptionsModule\Forms\SubscriptionTypesFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionsGeneratorFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypesUpgradesFormFactory
	- Crm\SubscriptionsModule\Forms\SubscriptionTypeItemsFormFactory
	- Crm\SubscriptionsModule\Generator\SubscriptionsGenerator
	- Crm\SubscriptionsModule\Components\SubscriptionButtonFactory
	- Crm\SubscriptionsModule\Components\ActualUserSubscriptions
	- Crm\SubscriptionsModule\Components\ActualSubscribersRegistrationSourceStatsWidget
	- Crm\SubscriptionsModule\Components\TotalSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\ActualSubscribersStatWidget
	- Crm\SubscriptionsModule\Components\TodaySubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\MonthToDateSubscriptionsStatWidget
	- Crm\SubscriptionsModule\Components\PrintSubscribersWithoutPrintAddressWidget
	- Crm\SubscriptionsModule\Components\EndingSubscriptionsWidget
	- Crm\SubscriptionsModule\Components\RenewedSubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\SubscriptionsEndingWithinPeriodWidget
	- Crm\SubscriptionsModule\Components\MonthSubscriptionsSmallBarGraphWidget
	- Crm\SubscriptionsModule\Components\ActualSubscriptionLabel
	- Crm\SubscriptionsModule\Components\UserSubscriptionsListing
	- Crm\SubscriptionsModule\Components\SubscriptionEndsStatsFactoryInterface
	- Crm\SubscriptionsModule\Commands\ChangeSubscriptionsStateCommand
	- Crm\SubscriptionsModule\Api\v1\UsersSubscriptionsHandler
	- Crm\SubscriptionsModule\Subscription\ActualUserSubscription
	- Crm\SubscriptionsModule\Events\NewAddressHandler
	- Crm\SubscriptionsModule\Events\AddressRemovedHandler
	- Crm\SubscriptionsModule\Events\SubscriptionUpdatedHandler
	- Crm\SubscriptionsModule\Events\NewSubscriptionHandler
	- Crm\SubscriptionsModule\Hermes\GenerateSubscriptionHandler
	- Crm\SubscriptionsModule\Api\v1\CreateSubscriptionHandler
	- Crm\SubscriptionsModule\Repository\ContentAccessRepository
	- Crm\SubscriptionsModule\User\SubscriptionsUserDataProvider
	- Crm\SubscriptionsModule\Segment\ActiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Segment\InactiveSubscriptionCriteria
	- Crm\SubscriptionsModule\Seeders\ContentAccessSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionExtensionMethodsSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionTypeNamesSeeder
	- Crm\SubscriptionsModule\Seeders\SubscriptionLengthMethodSeeder
	- Crm\SubscriptionsModule\Access\SubscriptionAccessProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUsersFormDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUsersSelectionDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUserActionLogsSelectionDataProvider
	- Crm\SubscriptionsModule\DataProvider\FilterUserActionLogsFormDataProvider
	- Crm\SubscriptionsModule\Repository\SubscriptionTypesMetaRepository

	extensionMethodFactory:
		class: Crm\SubscriptionsModule\Extension\ExtensionMethodFactory
		setup:
			- registerExtension('extend_actual', Crm\SubscriptionsModule\Extension\ExtendActualExtension())
			- registerExtension('extend_same_actual', Crm\SubscriptionsModule\Extension\ExtendSameActualExtension())
			- registerExtension('start_now', Crm\SubscriptionsModule\Extension\StartNowExtension())

	lengthMethodFactory:
		class: Crm\SubscriptionsModule\Length\LengthMethodFactory
		setup:
			- registerExtension('fix_days', Crm\SubscriptionsModule\Length\FixDaysLengthMethod())

	filterLoader:
		setup:
			- register('typeContent', [Crm\SubscriptionsModule\Helpers\TypeContentHelper(), process])
			- register('typeLabel', [Crm\SubscriptionsModule\Helpers\TypeLabel(), process])
