{block #content}

<div class="row">
  <div class="col-md-12">
    <h1 n:block="title">
      {_subscriptions.admin.subscription_generator.form.header}
    </h1>
    <hr>
  </div>
  <div class="col-md-12">
    {control subscriptionsGeneratorForm}
  </div>
</div>
