{block #content}

<div class="row">
  <div class="col-md-12">
    <a n:href="default"><i class="fa fa-angle-left"></i> {_subscriptions.admin.subscription_types.show.back}</a>

    <div class="page-header">
      <h1 n:block="title">
      	Import
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {control importForm}
  </div>
</div>