<span class="badge">{$actualSubscriptions}</span>
{_dashboard.actual.subscriptions.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.actual.subscriptions.tooltip}"></i>