<div class="panel panel-default">
    <div>
        <div class="panel-heading">
            <h3 class="panel-title">
                {_"dashboard.users.active_sub_registrations.title"}
            </h3>
        </div>
        <div class="panel-body">
            {control googleUserSubscribersRegistrationSourceStatsGraph redraw => true}
        </div>
    </div>
</div>
