<div style="margin-bottom: 2px">
   <a class="btn btn-default btn-sm" href="{plink :Subscriptions:SubscriptionsAdmin:edit $payment->subscription_id, $payment->user_id}">
      <i class="fa fa-edit"></i>  {_subscriptions.admin.subscription_button.edit}
   </a>
</div>