"ID";"name";"code";"price";"length";"web";"print";"club";"mobile";"print_friday"
{foreach $types as $type}
"{$type->id}";"{$type->name}";"{$type->code}";"{$type->price}";"{$type->length}";"{$type->web}";"{$type->print}";"{$type->club}";"{$type->mobile}";"{$type->print_friday}"
{/foreach}
