menu:
	stats: Predplatné a predplatitelia
	endings: Končiace predplatné
	my_subscriptions: Moje predplatné
	subscriptions: Predplatné
	subscription_types: Typy predplatného
	subscriptions_generator: Generátor predplatného

data:
	subscriptions:
		fields:
			subscription_type: Typ predplatného
			payment_gateway: Platobná brána
			start_time: Začiatok
			end_time: Koniec
			type: Typ
			note: Poznámka
			address_id: Adresa
			payment: Platba
		required:
			start_time: Začiatok je povinný
			end_time: Koniec je povinný
			subscription_type_id: Prekročený limit na užívateľa
		placeholder:
			start_time: napríklad 13.2.2015
			end_time: napríklad 13.2.2015
			note: Ľubovoľná poznámka k predplatnému
		errors:
			end_time_before_start_time: Koniec musí nasledovať po začiatku
			no_subscription_type_id: Nebol vybraný typ predplatného
			start_time_before_paid_at: "Začiatok predplatného nemôže začať pred dátumom zaplatenia (%paid_at%)"
		description:
			end_time: Nechať prázdne pre automatické vyplnenie podľa vybraného typu predplatného.

	subscription_types:
		fields:
			name: Názov
			code: Identifikátor
			next_subscription_type_id: Nasledujúce predplatné
			price: Cena
			length: "Dĺžka (dni)"
			extending_length: "Dĺžka (dni) pri predĺžení predplatného"
			fixed_start: "Fixný začiatok predplatného"
			fixed_end: "Fixný koniec predplatného"
			user_label: Verejný popis
			limit_per_user: "Max. počet predplatných na používateľa"
			content: Obsah
			active: Aktívne
			visible: Viditeľne
			web: Web
			print_friday: Print Friday
			print: Print
			club: Club
			mobile: Mobile
			sorting: Poradie
			description: Popis
			default: Default
			stats: Štatistiky
			ask_address: Vypýtaj adresu
			disable_notifications: Vypnuté notifikácie
			extension_method_id: Spôsob predĺženia predplatného
			length_method_id: Spôsob výpočtu dĺžky predplatného
			recurrent_charge_before: "Realizácia nasledujúcej platby (počet hodín pred vypršaním)"
			subscription_type_items: Položky predplatného
			meta: Meta
		required:
			name: Názov je povinný
			length: "Dĺžka (v dňoch) je povinný"
			price: Cena je povinná
			user_label: Verejný popis je povinný
		validation:
			integer:
				limit_per_user: Musí byť číslo
			minimum:
				limit_per_user: Minimálna hodnota 1
		placeholder:
			name: "napríklad Ročné predplatné (42€, od 2019/02)"
			code: napríklad year123
			user_label: napríklad Ročné predplatné
			next_subscription_type_id: ID
			length: napríklad 31
			extending_length: napríklad 35
			fixed_start: napríklad 3.4.2020
			fixed_end: napríklad 3.5.2020
			price: "napríklad 12.99"
		description:
			name: Interný názov viditeľný v administrácii
			user_label: "Názov predplatného, ktorý vidí užívateľ vo svojom profile"
		values:
			active: Aktívne
			inactive: Neaktívne
			visible: Viditeľné
			hidden: Skryté
	subscription_type_items:
		title:
			add: Pridať položku typu predplatného
			edit: Upraviť položku typu predplatného
		fields:
			name: Názov
			amount: Suma
			vat: 'DPH (%)'
		placeholder:
			name: napríklad 'Printové predplatné magazínu'
			amount: napríklad '123.45'
			vat: napríklad 20
		required:
			name: Názov je povinný
			amount: Suma je povinná
			vat: DPH je povinná

frontend:
	my:
		history: História predplatných
		actual: Aktuálne predplatné
		no_subscription: "Nemáte žiadne predplatné"
		buy_new_subscription: Môžete si ho zakúpiť a získať tak prístup ku obsahu.
	new:
		title: Predplaťte si %site_name%
	actual_subscription_widget:
		active_subscription: 'Vaše predplatné v súčasnosti <span class="label label-success"><b>je aktívne</b></span>'
		active_recurrent: 'Máte zvolený najpohodlnejší spôsob platby za predplatné s automatickým obnovovaním. Najbližšie sa vaše predplatné obnoví'
		stopped_recurrent: Vaše automatické predplatné je zastavené.
		no_subscription: 'Vaše predplatné v súčasnosti <span class="label label-danger"><b>nie je</b></span> aktívne'
		refresh: Obnoviť predplatné
		active_without_extension: Vaše predplatné sa skončí <strong>%end_time%</strong> a nebude automaticky obnovené.
		active_with_next: Vaše predplatné s prístupom %access_actual% sa skončí <strong>%end_time%</strong> a pokračovať bude predplatné s prístupom %access_next%.
		extend: Predĺžiť predplatné

admin:
	subscriptions:
		new:
			title: Nové predplatné
			header: Nové predplatné pre %name%
			back: späť na používateľa

		edit:
			title: Uprav predplatné %name%
			header: Uprav predplatné
			back: späť na používateľa

		messages:
			subscription_created: Predplatné bolo vytvorené.
			subscription_updated: Predplatné bolo upravené.

		stats:
			title: Štatistiky predplatného

	subscriptions_ends:
		default:
			title: Končiace predplatné
			without_next: Nepredĺžené
			without_recurrent: Bez recurrentu
			free_subscriptions: Bezplatné

	subscription_types:
		default:
			title: Typ predplatného
			new: Nový typ predplatného
			hidden: Skryté - nepoužívané
		edit:
			title: Typ predplatného
			header: Uprav typ predplatného
			back: späť na typ predplatného
		new:
			title: Nový typ predplatného
			back: späť na typ predplatného
		show:
			back: Späť na zoznam
			edit: Uprav typ predplatného
		messages:
			subscription_type_created: Typ predplatného bol vytvorený.
			subscription_type_updated: Typ predplatného bol upravený.
			subscription_type_not_found: Typ predplatného sa nepodarilo nájsť.
			subscription_type_item_created: Položka predplatného bola vytvorená
			subscription_type_item_deleted: Položka predplatného bola vymazaná
			subscription_types_wrong_amount: 'Nesedí suma za položky so sumou predplatného. Rozdiel <strong>%price%</strong>'
			no_subscription_type_items: Žiadne položky k predplatnému zatiaľ neboli vytvorené

	subscription_generator:
		form:
			header: Generátor predplatného
			generate: Vygeneruj predplatné
			send: Odošli
		field:
			emails: E-maily
			create_users: Vytvoriť používateľov
			user_groups: Komu vytvoriť predplatné
			newly_registered: Teraz zaregistrovaní
			inactive: Zaregistrovaní v minulosti bez aktívneho predplatného
			active: Zaregistrovaní v minulosti s aktívnym predplatným
			subscription_type: Typ predplatného
		description:
			generate: "Ak sa nezaškrtne tak sa len skontrolujú vstupy a vypiše sa stav."
			start_time: "Ak nie je zadané, predplatné budú platiť od aktuálneho času."
			end_time: "Ak nie je zadané, koniec predplatného bude vypočítaný podľa počtu dní vybraného predplatného."
			emails: Jedna e-mailová adresa na každý riadok
			create_users: "Ak zadaný email neexistuje, bude konto vytvorené"
			user_groups: "Predplatné bude vytvorené iba používateľom spĺňajúcich zvolený stav"
		errors:
			invalid_email: Email "%email%" nie je platný
		required:
			emails: Email používateľa musí byť vyplnený
			subscription_type: Typ predplatného musí byť vybratý
		placeholder:
			emails: napríklad jozko@pucik.sk
		prompt:
			subscription_type: Vyberte typ predplatného
		group:
			users: Informácie o používateľoch
		messages:
			registrations: "Registrujeme %count% používateľov."
			newly_registered: "Vytvárame %count% predplatných pre novo-registrovaných používateľov."
			inactive: "Vytvárame %count% predplatných pre už registrovaných používateľov bez predplatného."
			active: "Vytvárame %count% predplatných pre aktívnych predplatiteľov."
			skipped: "Nevytvárame %count% predplatných, keďže používatelia nespĺňajú zvolené podmienky"

	address:
		cant_delete: 'Táto adresa sa používa pri predplatnom: %subscriptions%|Táto adresa sa používa pri predplatných: %subscriptions%'

	# componenty

	actual_user_subscriptions:
		header: Predplatné
		no_subscription: Nemá aktuálne predplatné
		add_subscription: Pridaj predplatné

	user_subscriptions:
		header: Predplatné
		no_subscription_header: "Žiaden záznam"
		no_subscription: "Tento používateľ nemá žiadne predplatné."
		new_subscription: Pridaj nové predplatné manuálne
		gift_header: Darované predplatné

	subscription_button:
		edit: Upraviť predplatné

	actual_subscription_label:
		subscription: Predplatné
		actual: Aktuálne

	filter_users:
		subscription_type: Typ predplatného
		actual_subscription: Iba aktuálne

	subscription_end_stats:
		subscription_types: Typy predplatného
		content_access_types: Typy prístupu k obsahu

	month_subscriptions_small_bar_graph_widget:
		title: Predplatné

	subscribers_with_missing_address_widget:
		title: Predplatitelia bez vyplnenej adresy

	actual_subscribers_stat_widget:
		title: Aktívni predplatitelia
		help: "Unikátny predplatitelia, platiaci aj neplatiaci."

data_provider:
	delete:
		three_months_active: Používateľ mal v posledných troch mesiacoch aktívne predplatné a nemôže byť zmazaný

config:
	category: Predplatné
	vat_default:
		name: Bežná DPH
		description: 'Štandardná sadzba DPH pre položky platby. Hodnota v % (napr. 20).'
