menu:
	stats: Subscriptions and subscribers
	endings: Ending subscriptions
	my_subscriptions: My subscriptions
	subscriptions: Subscriptions
	subscription_types: Subscription types
	subscriptions_generator: Subscriptions generator
dashboard:
        subscriptions_reccurency:
            reccurent_subscriptors: Reccurent subscriptors
            regular_subscriptors: Non-reccurent subscriptors
            title: Reccurency of subscriptors
            tooltip: "Number of subscriptors with recurent and non-reccurent subscription, respectively."
data:
	subscriptions:
		fields:
			subscription_type: Subscription type
			payment_gateway: Payment gateway
			start_time: Start
			end_time: End
			type: Type
			note: Note
			address_id: Address
			payment: Payment
		required:
			start_time: Start time is required
			end_time: End time is required
			subscription_type_id: Limit per user reached
		placeholder:
			start_time: for example 13.2.2015
			end_time: for example 13.2.2015
			note: Your custom note to subscription
		errors:
			end_time_before_start_time: End time must be after start time
			no_subscription_type_id: No subscription type
			start_time_before_paid_at: "Subscription start time cannot be before payment paid date (%paid_at%)"
		description:
			end_time: Leave empty to calculate automaticaly based on selected subscription type.

	subscription_types:
		fields:
			name: Name
			code: Identifier
			next_subscription_type_id: Next subscription
			price: Price
			length: "Length (days)"
			extending_length: "Length (days) when continue subscription"
			fixed_start: "Fixed subscription start time"
			fixed_end: "Fixed subscription end time"
			user_label: User label
			limit_per_user: Max. number of subscriptions per user
			content: Content
			active: Active
			visible: Visible
			web: Web
			print_friday: Print Friday
			print: Print
			club: Club
			mobile: Mobile
			sorting: Sorting
			description: Description
			default: Default
			stats: Stats
			ask_address: Ask address
			disable_notifications: Disabled notifications
			extension_method_id: Extension method
			length_method_id: Subscription length calculcation method
			recurrent_charge_before: "Recurrent charge before (hours)"
			subscription_type_items: Subscripton items
			meta: Meta
			items: Items
		required:
			name: Name is required
			length: "Length (in days) is required"
			price: Price is required
			user_label: User label is required
		validation:
			integer:
				limit_per_user: Must be number
			minimum:
				limit_per_user: Minum value 1
		placeholder:
			name: "for example Yearly subscription (42€, od 2019/02)"
			code: for example year123
			user_label: for example Yearly subscription
			next_subscription_type_id: ID
			length: for example 31
			extending_length: for example 35
			fixed_start: for example 3.4.2020
			fixed_end: for example 3.5.2020
			price: "for example 12.99"
		description:
			name: Internal name visible in administration
			user_label: "Subscription name visibile by users in their profile"
		values:
			active: Active
			inactive: Inactive
			visible: Visible
			hidden: Hidden
	subscription_type_items:
		title:
			add: Add subscription type item
			edit: Edit subscription type item
		fields:
			name: Name
			amount: Amount
			vat: 'VAT (%)'
		placeholder:
			name: for example 'Print subscriptions'
			amount: for example '123.45'
			vat: for example 20
		required:
			name: Name is required
			amount: Amount is required
			vat: VAT is required

frontend:
	my:
		history: Subscriptions history
		actual: Actual subscription
		no_subscription: "You don't have any subscription."
		buy_new_subscription: You can buy new subscription.
	new:
		title: Subscribe to %site_name%
	actual_subscription_widget:
		active_subscription: 'Your subscription <span class="label label-success"><b>is active</b></span>'
		active_recurrent: 'You have recurrent payment enabled. Next charge will occur'
		stopped_recurrent: Recurring payment is disabled
		no_subscription: 'Your subscription <span class="label label-danger"><b>is not</b></span> active now'
		refresh: Renew subscription
		active_without_extension: Your subscription will end on <strong>%end_time%</strong> and will not be renewed automatically.
		active_with_next: Your subscription %access_actual% access will end at <strong>%end_time%</strong> and subscription with access %access_next% will continue.
		extend: Renew subscription

admin:
	subscriptions:
		new:
			title: New subscription
			header: New subscription for %name%
			back: back to user

		edit:
			title: Edit subscription %name%
			header: Edit subscription
			back: back to user

		messages:
			subscription_created: Subscription was created.
			subscription_updated: Subscription was updated.

		stats:
			title: Subscription stats

	subscriptions_ends:
		default:
			title: Ending subscriptions
			without_next: Without next
			without_recurrent: Without recurrent
			free_subscriptions: Free subscriptions

	subscription_types:
		default:
			title: Subscription types
			new: New subscription type
			hidden: Hidden
		edit:
			title: Subscription type
			header: Edit subscription type
			back: back to detail
		new:
			title: New subscription type
			back: back to subscription types
		show:
			back: back to listing
			edit: Edit subscription type
			general_settings: General settings
			new_subscriptions: New subscriptions
		messages:
			subscription_type_created: Subscription type was created.
			subscription_type_updated: Subscription type was updated.
			subscription_type_not_found: Subscription type not found.
			subscription_type_item_created: Subscription item was created.
			subscription_type_item_deleted: Subscription item was deleted.
			subscription_types_wrong_amount: 'Wrong subscription items amounts sum. Difference <strong>%price%</strong>'
			no_subscription_type_items: This subscripton type doesn't contains any items.
		save: Save subscription type
		form:
			groups:
				price: Price and next subscription
				items: Subscription type items
				length_extension: Length and extension settings
				other: Other
				content_access: Content access
			required: This field is required.
			number: This field must contain a numeric value.
			name: Name
			amount: Amount
			vat: VAT

	subscription_type_items:
		add: Add item
		remove: Remove item
		vat: VAT
		sum_error: The sum of subscription item prices must be equal to the subscription type price.

	subscription_generator:
		form:
			header: Subscriptions generator
			subscriptions_count: Subscriptions count
			generate: Generate subscriptions
			send: Send
		field:
			emails: E-mails
			create_users: Create users
			user_groups: Who should receive a subscription
			newly_registered: Newly registered
			inactive: Registered in past without an active subscription
			active: Registered in past with active subscription
			subscription_type: Subscription type
		description:
			generate: "If you don't check this, application will only validate your input a give you feedback."
			start_time: "If it is filled, subscriptions will be activated from this time. Othervise subscriptions starts now."
			end_time: "If it is filled, subscriptions will end in provided time. Othervise it will be calculate based on subscription type."
			emails: Single e-mail address per line
			create_users: "If there's no account with given email, new account will be created"
			user_groups: "Subscription will be created only to users matching selected states"
		errors:
			invalid_email: Email "%email%" is not valid
		required:
			emails: At least one email needs to be entered
			subscription_type: Subscription type is required
		placeholder:
			emails: e.g. jozko@pucik.sk
		group:
			users: User information
		messages:
			registrations: "We are signing up %count% new users."
			newly_registered: "We are generating %count% subscriptions for newly-created users."
			inactive: "We are generating %count% subscription for existing users without an active subscription."
			active: "We are generating %count% subscriptions for existing users with an active subscription."
			skipped: "We have skipped generation of subscription for %count% users, as they don't match the selected criteria for subscription."

	address:
		cant_delete: 'This address is used in subscription: %subscriptions%|This address is used in subscriptions: %subscriptions%'

	# componenty

	actual_user_subscriptions:
		header: Subscription
		no_subscription: No actual subscription
		add_subscription: Create new subscription

	user_subscriptions:
		header: Subscriptions
		no_subscription_header: "No data"
		no_subscription: "This user doesn't have any subscriptions."
		new_subscription: Create new subscription manualy
		gift_header: Gift subscriptions

	subscription_button:
		title: Edit subscription

	actual_subscription_label:
		subscription: Subscription
		actual: Actual

	filter_users:
		subscription_type: Subscription type
		actual_subscription: Only actual

	subscription_end_stats:
		subscription_types: Subscription types
		content_access_types: Content access types

	month_subscriptions_small_bar_graph_widget:
		title: Subscriptions

	subscribers_with_missing_address_widget:
		title: Subscribers with missing address

	actual_subscribers_stat_widget:
		title: Active Subscribers
		help: "Unique subscribers, paying and non-paying."

	subscriptions_graph:
		title: New subscriptions
		help: Newly created subscriptions within selected time range

data_provider:
	delete:
		three_months_active: User had an active subscription within last three months and cannot be deleted

config:
	category: Subscriptions
	vat_default:
		name: Default VAT rate
		description: 'Default VAT rate for subscription type items (e.g. 20).'
